img {
  width: 150px;
  height: auto;
}
.phone {
  width: 20px;
  height: auto;
}
.mail {
  width: 30px;
  height: auto;
}
.address {
  width: 30px;
  height: auto;
}
.item-img {
  width: 40px;
  margin-top: -10px;
}
.fs {
  font-size: 0.9rem;
}
.pt{
  margin-top: -3px;
}

@media only screen and (min-width: 768px) {
  .item-img {
    width: 30px;
  }
}
